PORT=3000
POSTGRES_URL="postgres://postgres:pass@localhost:5432/queue_db"
MONGO_URL="mongodb://admin:pass@localhost:27017/logs_db?authSource=admin"
RABBITMQ_URL="amqp://admin:pass@localhost:5672"
JWT_SECRET="secret_key"