# =========================
# APPLICATION
# =========================
PORT=3000

# =========================
# POSTGRES
# =========================
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=your_user
POSTGRES_PASSWORD=your_password
POSTGRES_DB=your_database

POSTGRES_URL=postgres://user:password@localhost:5432/database

# =========================
# MONGO
# =========================
MONGO_HOST=localhost
MONGO_PORT=27017
MONGO_USER=your_user
MONGO_PASSWORD=your_password
MONGO_DB=your_database
MONGO_AUTH_SOURCE=admin

MONGO_URL=mongodb://user:password@localhost:27017/database?authSource=admin

# =========================
# RABBITMQ
# =========================
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=user
RABBITMQ_PASSWORD=password

RABBITMQ_URL=amqp://user:password@localhost:5672

# =========================
# JWT
# =========================
JWT_SECRET=change_this_secret
JWT_EXPIRATION=15m