# APPLICATION (NESTJS)
PORT=3000

# DATABASE BASE CREDENTIALS
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres_user
POSTGRES_PASSWORD=postgres_password
POSTGRES_DB=my_app_db

MONGO_HOST=localhost
MONGO_PORT=27017
MONGO_USER=mongo_user
MONGO_PASSWORD=mongo_password
MONGO_DB=my_logs_db
MONGO_AUTH_SOURCE=admin
MONGO_URL=mongodb://${MONGO_USER}:${MONGO_PASSWORD}@${MONGO_HOST}:${MONGO_PORT}/${MONGO_DB}?authSource=${MONGO_AUTH_SOURCE}

# CONNECTION STRINGS (NESTJS)
NEST_POSTGRES_URL=postgres://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}

# CONNECTION STRINGS (SPRING BOOT)
JDBC_POSTGRES_URL=jdbc:postgresql://${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}

# WORKER (SPRING BOOT)
GMAIL_USER=seu_email@gmail.com
GMAIL_APP_PASS=sua_senha_de_app

# RABBITMQ
RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=rabbit_user
RABBITMQ_PASSWORD=rabbit_password

RABBITMQ_URL=amqp://${RABBITMQ_USER}:${RABBITMQ_PASSWORD}@${RABBITMQ_HOST}:${RABBITMQ_PORT}

# JWT
JWT_SECRET=your_jwt_secret_key_change_in_production
EXPIRATION_TIME_TO_LIVE=15m

# CLOUDFLARE R2
CLOUDFLARE_ACCOUNT_ID=your_account_id_here
CLOUDFLARE_R2_ACCESS_KEY=your_r2_access_key_here
CLOUDFLARE_R2_SECRET_KEY=your_r2_secret_key_here
CLOUDFLARE_R2_BUCKET_NAME=your_bucket_name
CLOUDFLARE_R2_BUCKET_URL=https://${CLOUDFLARE_ACCOUNT_ID}.r2.cloudflarestorage.com